h1 {
    background-color: #008080;
    color: #eeeeee;
    margin: 0;
    font-size: 35px;
    padding: 5px;
}

h2 {
    margin-left: 5%;
    font-size: 25px;
    margin-top: 15px;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

#navWrapper {
    overflow: hidden;
}

.bodyWrapper {
    min-height: 100%;
    margin-bottom: -50px;
    background-image: url(../images/background.jpg);
    
}

.footer {
    background-color: #008080;
    text-align: center;
    color: #eeeeee;
    margin-top: 20px;
}

.footer, .push {
    height: 50px;
}

.navBar {
    float: right;
}

.para {
    margin-left: 10%;
    margin-right: 10%;
}
.img{
    margin-left: 5%;
}