h1 {
    background-color: #008080;
    color: #eeeeee;
}

body {
    background-image: url("../images/background.jpg") ;
}

.navBar {
    float: right;
}

.index {

}

.contact{

}

.portfolio{
    
}